.count {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 5px solid blue;
  border-radius: 6px;
  margin: 20px;
}

.number {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 140px;
  border: 5px solid blue;
  border-radius: 6px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  align-items: center;
  background-color: blue;
  font-size: 70px;
}

.numberRed {
  color: red;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 140px;
  border: 5px solid blue;
  border-radius: 6px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  align-items: center;
  background-color: blue;
  font-size: 70px;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 140px;
  margin: 20px;
  border: 5px solid black;
  border-radius: 6px;
  border-color: blue;
}

.numberNumber {
  font-size: 70px;
}

.error {
  font-size: 20px;
  color: red;

}
